.div {
    display: flex;
    align-items: center;
}
.marker {
    text-align: start;
   width: 5%;
}
.note {
    width: 85%;
    align-self: stretch;
    text-align: start;
    word-break: break-word;
    padding-right: 10px;
    margin-right: 15px;
}
.page {
    margin-right: 10px;
}
.keepNoteIcon {
    cursor: pointer;
}
.removeNoteIcon {
    cursor: pointer;

}
.carryActionHidden {
    margin-left: 23.5px;
}
.carryActionShown {
    margin-left: 10px;
}