div {
    display: flex;
    align-items: center;
}
.marker {
    text-align: start;
   width: 5%;
}
.note {
    width: 85%;
    align-self: stretch;
    text-align: start;
    word-break: break-word;
}
.page {
    margin-right: 10px;
}
.keepNoteIcon {
    cursor: pointer;
}
.removeNoteIcon {
    cursor: pointer;
    margin-left: 10px;
}