:root {
    --vt-c-white: #ffffff;

    --vt-c-black: #181818;
    --vt-c-black-mute: #282828;
    --vt-c-light-grey: #888686;

    --vt-c-yellow: #ffff00;
    --vt-c-red: #ff0000;
    --vt-c-success: #00ff00;
    
    --vt-c-light-green: #00BD7EFF;
    --vt-c-dark-green: #00BD7E33;

    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

}

/* semantic color variables for this project */
:root {
    --color-header: var(--vt-c-light-green);
    --color-header-darker: var(--vt-c-dark-green);
    --color-overlay-fill: var(--vt-c-dark-green);
    --color-background: var(--vt-c-black);
    --color-background-mute: var(--vt-c-black-mute);
    --color-icon-fill: var(--vt-c-white);
    --color-icon-fill-disabled: var(--vt-c-divider-dark-1);
    --color-border: var(--vt-c-divider-dark-2);
    --color-background-blur: var(--vt-c-light-grey);
    --color-text: var(--vt-c-white);
    --color-warning-text: var(--vt-c-yellow);
    --color-danger-text: var(--vt-c-red);
    --color-success-text: var(--vt-c-success);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-family: Courier, monospace;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

path {
    fill: var(--color-icon-fill);
}

@media (min-width: 640px) {
    body {
        font-size: 15px;
    }
}
