@import "./base.css";

#app {
    min-height: 100vh;
    min-width: 320px;
    overflow: hidden;
}

header {
    height: 10vh;
}

body {
    overflow: hidden;
}

main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

footer {
    height: 10vh;
}
