@import "./base.css";

#app {
    min-height: 400px;
    min-width: 320px;
    overflow: hidden;
}

header {
    height: 7.5vh;
}

main {
    overflow: hidden;
    min-height: 85vh;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

footer {
    height: 7.5vh;
}
