.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    max-height: 80%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--vt-c-divider-dark-1) var(--vt-c-black);
}

.sharer {
    display: flex;
    flex-grow: 1;
    padding-right: 10px;
    span {
        flex-grow: 1;
    }
}

.unshare {
    margin-right: 10px;
}