.div {
    padding: 0 10px;
    display: flex;
    gap: 10px;
}

.actionsContainer {
    display: flex;
    gap: 10px;
    min-width: 72px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.marker {
    text-align: start;
    vertical-align: top;
}

.task {
    align-self: stretch;
    text-align: start;
    word-break: break-word;
    flex-grow: 1;
}

.taskTicked {
    text-decoration: line-through;
    color: var(--color-success-text);
}

.taskRemoved {
    text-decoration: line-through;
    color: var(--color-danger-text);
}

.taskCarried {
    color: var(--color-warning-text);
}

.page {
    height: fit-content;
    margin-right: auto;
}

.button {
    height: fit-content;
}