.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > div {
        text-align: center;
        width: 100%;
    }
}

.placeholder {
    margin-top: 40px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-mute);
    height: 40px;
    border-bottom: solid 1px var(--color-border);
}

.button {
    margin-right: auto;
}

.icon {
    margin-left: 20px;
}

.characterCount {
    font-size: 14px;
    text-align: left;
    line-height: 21px;
}

.label {
    width: 30%;
    text-align: end;
    padding-right: 10px;
}

.addTaskList {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0;
    border-bottom: solid 1px var(--color-border);
}

.selectTasksList {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0;
    border-bottom: solid 1px var(--color-border);
}

.input {
    width: 40%;
    margin-right: 10px;
}

.addTaskListIcon {
    font-size: 21px;
    margin-right: 10px;
    cursor: pointer;
}

.disabled {
    color: var(--vt-c-divider-dark-1);
}

.caret {
    margin-left: auto;
    margin-right: 20px;
}
