.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 800px;
}

.addTask {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px;
    flex-grow: 1;
}

.taskList {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--vt-c-divider-dark-1) var(--vt-c-black);
    margin: 0 auto;
    max-width: 800px;
}

.placeholder {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
