.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addTask {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 10px;
    flex-grow: 1;
}

.taskList {
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--vt-c-divider-dark-1) var(--vt-c-black);
}

.addMargin {
    margin-top: 21px;
}
