.div {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.marker {
    text-align: start;
}

.task {
    align-self: stretch;
    text-align: start;
    word-break: break-word;
    flex-grow: 1;
}

.taskTicked {
    text-decoration: line-through;
    color: var(--color-success-text);
}

.taskKept {
    color: var(--color-success-text);
}

.page {
}

.spacer {
    width: 11.66px;
}

.largeSpacer {
    width: 31px;
}

.icon {
    cursor: pointer;
}

.carryActionHidden {
}

.carryActionShown {
}
