.placeholder {
  cursor: pointer;
}

.addNoteList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectNotesList {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 40%;
  margin-right: 10px;
}

select {
  width: 40%;
  margin-right: 39px;
}

.addNoteListIcon {
  font-size: 21px;
  margin-right: 10px;
  cursor: pointer;
}

.disabled {
  color: var(--vt-c-divider-dark-1);
}
