.container {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animation {
    height: 300px;
    width: 300px;
    
    @media (min-width: 400px) {
        height: 400px;
        width: 400px;
    }
}