.GitHubIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    svg {
        width: 25px;
        height: 25px;
        fill: var(--color-icon-fill);
    }
    span {
        color: var(--color-text);
        justify-content: center;
        align-content: center;
    }
}