.header {
    background: var(--color-header-darker);
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav {
    color: var(--color-text);
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    a {
        color: var(--color-text);
    }
}
