.header {
    background: var(--color-header-darker);
    display: flex;
    align-items: center;
    padding: 10px;
    a {
        text-decoration: none;
        color: var(--color-text);
        margin-right: auto;
    }
    gap: 10px;
}
